*{
    
    .header{ 
        color: rgb(224, 199, 164);
        background-color: rgb(103, 83, 57);
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        text-align: center;
}

    .table1{
        background-color: rgb(255, 219, 225);
        position: relative;
        top: 25px;
        width: 800px;
        height:250px;
        border-color:rgb(103, 83, 57); 
        text-align: center;
 }
    .table2{
        background-color: rgb(255, 219, 225);
        position: relative;
        top: 100px;
        width: 800px;
        height: 250px;
        border-color:rgb(103, 83, 57); 
        text-align: center;
        
 }
    .table3{
        background-color: rgb(255, 219, 225);
        position: relative;
        top: 175px;
        width: 800px;
        height: 250px;
        border-color:rgb(103, 83, 57); 
        text-align: center;
    
}
    .Vanilla{
        position: relative;
        width: 275px;
        height: 275px;
        left: 800px;
        bottom: 600px;
        border-color:rgb(103, 83, 57);
        
 }
    .Chocolate{
        position: relative;
        width: 275px;
        height: 275px;
        left:520px ;
        bottom: 200px;
        border-color:rgb(103, 83, 57) ;
}
    .Lemon{
        position: relative;
        width: 275px;
        height: 275px;
        left: 400px;
        top: 225px;
        border-color:rgb(103, 83, 57) ;
        
    }
    

   
}